/bootstrap/compiled.php
/vendor
/public
!/public/js
!/public/css
!/public/fonts
!/public/assets
!/public/packages
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
!/public/robots.txt
/app/config
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
