bootstrap/compiled.php
public/*
!public/js
!public/css
!public/fonts
!public/assets
!public/packages
!public/.htaccess
!public/favicon.ico
!public/index.php
!public/robots.txt
app/config/*
!app/config/app.php
!app/config/auth.php
!app/config/cache.php
!app/config/compile.php
!app/config/database.php
!app/config/mail.php
!app/config/omim.sample.php
!app/config/queue.php
!app/config/remote.php
!app/config/services.php
!app/config/session.php
!app/config/view.php
!app/config/workbench.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
lib/*